@import'../../../variables/variables.scss';

.main-games-page {
    position: relative;
    overflow-x: hidden;
}

.game-part-container, .games-title {
    font-family: $mainTextFont;
}

.games-title, .more-btn {
    color: $MainLightColor;
}

.game-part-container {
    @include every-games-container;
}

.all-games-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 150px;
    margin-left: 150px;
    margin-right: 150px;
    justify-items: center;
}

.games-title {
    font-size: 48px;
}

.loading {
    color: $MainLightColor;
    font-size: 30px;
}

@media (max-width: 500px) {
    .all-games-container {
        grid-template-columns: 1fr;
    }
}