@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

$titleFont: 'Titan One', san-serif;
$mainTextFont: Staatliches, san-serif;

$MainLightColor: #F8F9FA;
$MainDarkColor: #212529;
$LighterDarkColor: #343A40;
$redColor: #ce383b;
$hoverBtnColor: #812123;

@mixin main-button ($height, $width, $font-size) {
    background-color: $redColor;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    color: $MainLightColor;
    font-family: $mainTextFont;
    font-size: $font-size;
    height: $height;
    width: $width;
}

@mixin link {
    text-decoration: none;
    color: $MainLightColor;
}