@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

$titleFont: Audiowide, san-serif;
$mainTextFont: Staatliches, san-serif;

$MainLightColor: #F8F9FA;
$MainDarkColor: #212529;