@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

$titleFont: 'Titan One', san-serif;
$mainTextFont: Staatliches, san-serif;

$MainLightColor: #F8F9FA;
$MainDarkColor: #212529;