@import'../../../variables/variables.scss';

.menu-content {
    height: 65vh;
    width: 75vh;
    transition: transform 0.5s ease-out;
    background-color: $MainDarkColor;
    color: $MainLightColor;
    margin-top: 80px;
    margin-right: 0;
    padding: 2rem;
    position: absolute;
    font-family: $mainTextFont;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menu-title, .menu-title-consoles {
    font-size: 38px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.menu-list {
    margin-bottom: 1rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-section-container {
    display: flex;
}

.console {
    font-size: 20px;
    text-decoration: none;
    padding: 1rem;
    list-style: none;
}

.console:hover, .menu-title:hover {
    color: $hoverBtnColor;
    cursor: pointer;
}

.router-link, .console-link {
    @include link;
}

@media (max-width: 800px) {
    .menu-content {
        width: 50%;
    }
}

@media (min-height: 1000px) {
    .menu-content {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .menu-content {
        width: 100%;
        margin-top: 1.25rem;
    }
}

@media (max-width: 500px) {
    .menu-content {
        width: 90%;
        height: auto;
        margin-top: 2rem;
    }

    .menu-title, .menu-title-consoles {
        font-size: 28px;
    }
}

@media (max-width: 350px) {
    .menu-content {
        width: 85%;
    }

    .console {
        font-size: 18px;
    }
}

@media (max-width: 300px) {
    .menu-content {
        width: 100%;
    }

    .console {
        padding: 0.5rem;
    }
}