@import'../../variables/variables.scss';

.game-part-container, .games-title {
    font-family: $mainTextFont;
}

.games-title, .more-btn {
    color: $MainLightColor;
}

.game-part-container {
    @include every-games-container;
}

.all-games-container {
    @include games-container;
}

.games-title {
    font-size: 48px;
}

.loading {
    color: $MainLightColor;
    font-size: 30px;
}

// .next-btn, .prev-btn {
//     @include main-button(40px, 120px, 20px);
//     margin: 0 2rem 3rem 2rem;
// }

// .next-btn:hover, .prev-btn:hover {
//     background-color: $hoverBtnColor;
// }