@import'../../../variables/variables.scss';

.platform-games-container {
    @include every-games-container;
    font-family: $mainTextFont;
}

.inside-container {
    @include games-container;
    padding: 4rem 0;
}

.console-title {
    color: $MainLightColor;
    font-size: 48px;
}