@import'../../../variables/variables.scss';

.ranking-games-container {
    @include every-games-container;
    font-family: $mainTextFont;
}

.inside-ranking-container {
    @include games-container;
    padding: 4rem 0;
}

.ranking-title {
    color: $MainLightColor;
    font-size: 48px;
}