@import'../../../variables/variables.scss';

.form, .form-title-container, .ordered-container {
    @include center-all;
}

.form-title-container {
    font-family: $mainTextFont;
}

.form-row {
    display: flex;
}

.form-pair {
    margin: 0 0.5rem;
}

.form-label, .form-input {
    width: 200px;
}

.form-label, .large-form-label, .small-form-label {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
    color: $redColor;
    font-family: $mainTextFont;
}

.form-input, .large-form-input, .small-form-input {
    margin: 0.6rem 0;
    height: 25px;
    border-radius: 3px;
    border-style: none;
}

.large-form-input, .large-form-label {
    width: 420px;
}

.small-form-input, .small-form-label {
    width: 90px;
}

.form-input:focus {
    outline-style: none;
    border-color: $redColor;
}

.form-error {
    color: $redColor;
    font-size: 12px;
}

.submit-btn {
    @include main-button(40px, 100px, 20px);
    margin: 1rem 0;
}

.submit-btn:hover {
    background-color: $hoverBtnColor;
}

.ordered-title {
    color: $redColor;
    font-family: $mainTextFont;
    font-size: 30px;
}

@media (max-width: 450px) {
    .form-label, .form-input {
        margin-top: 0.9rem;
        width: 150px;
    }

    .large-form-input, .large-form-label {
        width: 320px;
    }
    
    .small-form-input, .small-form-label {
        width: 60px;
    }
}

@media (max-width: 350px) {
    .form-label, .form-input {
        margin-top: 0.9rem;
        width: 140px;
    }

    .large-form-input, .large-form-label {
        width: 300px;
    }
    
    .small-form-input, .small-form-label {
        width: 60px;
    }
}