@import'../../variables/variables.scss';

.header {
    background-color: $MainDarkColor;
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-title {
    font-family: $titleFont;
    font-size: 72px;
    color: $MainLightColor;
    margin-left: 4rem;
    margin-top: 2.5rem;
}

.header-right-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-img {
    margin: 0 1rem 0 1rem;
}