@import'../../../variables/variables.scss';

.games-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 150px;
    margin-left: 150px;
    margin-right: 150px;
    justify-items: center;
}

