@import'../../variables/variables.scss';

.more-info-container {
    position: relative;
    overflow-x: hidden;
}

.extended-container {
    background-color: $LighterDarkColor;
    color: $MainLightColor;
    margin-top: 0;
    padding-bottom: 2rem;
    width: 100%;
}

.top-container {
    display: flex;

}

.game-name-container {
    @include center-all;
    width: 86%;
}

.add-btn-container {
    width: 14%;
    padding-right: 2.5rem;
}

.add-btn {
    @include main-button(40px, 120px, 20px);
    margin-top: 1rem;
}

.add-btn:hover {
    background-color: $hoverBtnColor;
}

.game-name {
    margin: 0;
    padding: 1rem;
    font-family: $mainTextFont;
    font-size: 37px;
}

.game-price {
    font-family: sans-serif;
    font-size: 20px;
    margin: 1.5rem 1rem 0 0;
}

.game-pic, .game-screenshots {
    height: 300px;
    width: 420px;
}

.game-pic {
    float: left;
    padding: 1.5rem 2.5rem 1.5rem 4.5rem;
}

.game-description, .game-platform {
    font-family: sans-serif;
    font-size: 25px;
    text-align: justify;
    padding: 0 4.5rem 0 4.5rem;
}

.game-data {
    color: $redColor;
    font-weight: 600;
    padding-left: 0.5rem;
}

.game-platform {
    font-size: 20px;
    color: $redColor;
    font-weight: 550;
}

.game-screenshots {
    margin: 1.5rem;
}

@media (max-width: 770px) {
    .game-name, .game-price, .game-description {
        font-size: 22px;
    }

    .screenshots-container {
        @include center-all;
    }
}

@media (max-width: 500px) {
    .game-name-container {
        width: 50%;
    }

    .game-name, .game-price {
        font-size: 18px;
    }

    .game-price {
        margin-bottom: 1.5rem;
    }

    .add-btn {
        @include main-button(30px, 100px, 18px);
        margin-top: 1.25rem;
    }

    .main-img-container {
        @include center-all;
    }

    .game-pic, .game-screenshots {
        height: 200px;
        width: 270px;
    }

    .game-pic {
        padding: 0;
    }

    .game-description, .game-platform {
        font-size: 18px;
        padding: 0 2.5rem 0 2.5rem;
    }

    .game-screenshots {
        margin: 1.5rem 0;
    }

}